


h2 {
        text-align: center;
    }
h1 {
        text-align: center;
    }

    .cursive {
        font-style: italic;
    }

    p{
        text-align: center;
    }

    #unique-paragraph {
        font-size: x-large;
        font-family: Courier, monospace;
    }

    IMG.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto }

    body {
        background-image: url("fon.jpg");
        max-width: 50em;
        margin: auto auto 5em;
    }
