h2 {
        text-align: center;
    }
h1 {
        text-align: center;
    }

    .cursive {
        font-style: italic;
    }

    #unique-paragraph {
        font-size: x-large;
        font-family: Courier, monospace;
    }

    body {
        background-image: url("fon.jpg");
    }